
#pokemon-card {
	width: 150px;
    height: 150px;
    display: inline-block;
    border: 3px solid white;
    cursor: pointer;
}

#pokemon-card .card-image img {
    width: 150px;
    height: 150px;
    padding: 30px 20px;
}

#pokemonContainer {
    text-align: center;
}